.destination_head_picture {
    background-color: lightpink;
}

.destination_description_1 {
    background-color: lightsalmon;
}

.destination_description_2 {
    background-color: lightskyblue;
}

.destination_partenaire {
    background-color: aquamarine;
}