.destination_head_picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    /*background-image: url(https://cdn.pixabay.com/photo/2014/08/15/11/29/sea-418742_960_720.jpg);*/
    background-size: cover;
    height: 500px;
    background-position-y: 35%;
    color: white;
}

.destination_name {
    color: white; /* TO-DO: remove color in Quiz.css */
    font-weight: 500;
    font-size: 9rem;
    margin-bottom: 10px;
}

.sub_title {
    font-size: 3rem; 
    margin-top: 0px;
}

.destination_description_1 {
    background-color: lightsalmon;
}

.destination_description_2 {
    background-color: lightskyblue;
}

.destination_partenaire {
    background-color: aquamarine;
}