.Home_slide_1 {
  padding: 50px;
  text-align: center;
  background-color: #cbf3f0;
  color: #2ec4b6;
}

@media screen and (max-width: 450px) {
  .Home_slide_1 {
    padding: 25px;
  }
  .Home_slide_1 h1 {
    font-size: 18px;
  }
  .Home_slide_1 h3 {
    font-size: 14px;
  }
}
