.Home_slide_1 {
  padding: 50px;
  text-align: center;
  background-color: #cbf3f0;
  color: #2ec4b6;
}

.Home_slide_2 {
  padding: 50px;
  width: 700px;
  height: 500px;
  margin: 0;
  text-align: center;
  background-color: lightcyan;
  color: #2ec4b6;
}
.Home_slide_3 {
  padding: 50px;
  width: 700px;
  text-align: center;
  background-color: #e79c0f;
  color: #2ec4b6;
}
.Home_slide_2_and_3{
  display: flex;
  justify-content: center;
}

.button_globe{
  background-color: #4CAF50;
   border: none;
  color: white;
  padding: 60px;
  text-align: center;
  display: inline-block;
  font-size: 26px;
  margin: 4px 2px;
  border-radius: 50%;
}

@media screen and (max-width: 450px) {
  .Home_slide_1 {
    padding: 25px;
  }
  .Home_slide_1 h1 {
    font-size: 18px;
  }
  .Home_slide_1 h3 {
    font-size: 14px;
  }   
}
