.NavBar {
  padding: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.NavBar .NavBar_logo {
  width: 180px;
  height: 20px;
 }

.NavBar_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavBar_link {
  margin: 0 10px;
  text-decoration: none;
  color:#000000;
  font-weight: 500;
  font-size: 1.1rem;
}

.NavBar_link:hover {
  color: #2ec4b6;
}

.Menu_burger {
  display: none;
}

@media screen and (max-width: 450px) {
  .NavBar {
    padding: 0;
    height: 40px;
  }
  
  .NavBar_links {
    display: none;
  }

  .NavBar .NavBar_logo {
    width: 130px;
    height: 15px;
    padding-left: 1rem;
   }

   .Menu_burger {
    display: block;
  }

  /* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 24px;
  right: 1rem;
  top: 0.5rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #2ec4b6;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

  
  
  

  


  

  
}