.Quiz {
    background-color:  rgba(203, 243, 240, 0.5); 
    display: flex;
    justify-content: center;   
}

 .Quiz_content {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
 }


.Quiz_responses {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    align-content: space-around;
    justify-content: center;
  
}
.Quiz_h1 {
    color: #2EC4B6;
}
.Quiz_response{
    background: center center contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;

    color: white;
    font-size: 36px ;
    flex-wrap: nowrap;
    width: 35vw;
    height: 30vh;
    border-radius: 19px;
    margin: 20px;
}

.Quiz_text_responses {
    background-color: rgba(0, 0, 0, 0.74);
    padding: 3px;
    border-radius: 3px;
}

.Quiz_button {
    color: #2ec4b6;
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    margin: 30px;
    border-radius: 90px;
    border:#2ec4b6 3px solid;
    text-decoration: none;
    justify-content: flex-end;
    width: 30%;
    
     
}


@media only screen and (min-width: 320px) and (max-width: 800px){

    .Quiz {
        background-color:  rgba(203, 243, 240, 0.5); 
        display: flex;
        justify-content: center;
        height: 80vh;
    }
    
    .Quiz_responses {
        
       

    } 

    .Quiz_response {
     height: 20vh;
     font-size: 1.5rem;
    } 
    .Quiz_button {
        font-size: 1rem;
    }
}