.App {
  color: #DADADA;
  font-family: 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-size: 4rem;

}

h2 {
  font-size: 3rem;

}

h3 {
  font-size: 2rem;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App h1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.App h2 {
  font-size: 36px;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.App h3 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 450px) {
  .App h1 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .App h2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .App h3 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}